---
title: About me
---

%section#page
  %h1 About me
  %p Thanks for visiting my personal blog. Here I write about all sorts of things, from TV series to web development. Short bio: 1980, living in 's-Hertogenbosch, working in Amsterdam.
  %p I'm co-founder and owner of <a href="http://www.80beans.com/">80beans</a>, an Amsterdam based web applications development firm that also participates in a few start-ups.
  %p Any questions, just <a href="mailto:roy@tomeij.net">e-mail</a> or mention me on <a href="http://www.twitter.com/roy">Twitter</a>.
