---
---

%section#intro
  %p I'm partner at 80beans in Amsterdam, where I take care of front-end architecture and business development using an agile approach. I love front-end meta languages like Haml, Sass & CoffeeScript. Any questions, <a href="mailto:roy@tomeij.net">drop me a line</a>.

%section#posts
  %h1 Latest posts

  - sorted_articles[0, excerpt_count].each do |item|
    = render('_excerpt', :item => item)

  %p.archives
    %a{:href => '/archives.html'} Wait! More posts here...
