---
---

%section#intro
  %p Hi there! My name is Roy Tomeij and I'm a front-end developer living in The Netherlands. I own 80beans, a development company based in Amsterdam. This is my personal blog where I'll cover anything from programming to the newest TV shows. Any questions, <a href="mailto:roy@tomeij.net">drop me a line</a>.

%section#posts
  %h1 Latest posts

  - sorted_articles[0, excerpt_count].each_slice(1) do |batch|
    .column
      - batch.each do |item|
        = render('_excerpt', :item => item)

  %p.archives
    %a{:href => '/archives.html'} Older posts
