// Variables.
$font-color: #000
$contrast: #31406f
$link-color: $contrast
$font-family: "ronnia-1", "ronnia-2", Arial, Helvetica, sans-serif
$font-size: 13px
$line-height: 20px
// $sprite: sprite-map("sprite/*.png", $spacing: 15px)

// Compass imports & mixins.
@import compass
@import compass/reset
@include reset-html5

@mixin hide
  left: -9999px
  position: absolute

// Generic styling.
html,
body
  width: 100%
  height: 100%

html
  overflow-y: scroll

body
  font-family: $font-family
  font-size: $font-size
  color: $font-color
  background: #f8f9fb

h1
  font-size: 25px
  line-height: 30px
  font-weight: 600

h2
  font-weight: bold

a
  color: $link-color

p,
ul,
h2
  line-height: $line-height

p,
ul
  margin-bottom: 20px

#wrap
  width: 600px
  position: relative
  margin: 0 auto

#header
  height: 150px

#logo
  width: 238px
  height: 169px
  top: -70px
  position: absolute
  font-size: 48px
  font-weight: normal
  text-align: center
  background: inline-image("../../../static/assets/images/logo.png") no-repeat
  *background-image: url("/assets/images/logo.png")
  @include hide-text
  @include rotate(-4deg)
  @include transition(position 0.3s ease)

  &.has_link:hover
    top: -50px
    @include transition(position 0.3s ease)

  a
    height: 169px
    display: block
    @include hide-text

#networks
  top: 10px
  right: 0
  position: absolute

  li
    float: left
    margin-left: 10px

  a
    width: 24px
    height: 24px
    display: block
    @include hide-text

    &.linkedin
      background: inline-image("../../../static/assets/images/i_linkedin.png") no-repeat
      *background-image: url("/assets/images/i_linkedin.png")

    &.facebook
      background: inline-image("../../../static/assets/images/i_facebook.png") no-repeat
      *background-image: url("/assets/images/i_facebook.png")

    &.twitter
      background: inline-image("../../../static/assets/images/i_twitter.png") no-repeat
      *background-image: url("/assets/images/i_twitter.png")

#intro
  margin-bottom: 30px
  padding: 10px
  line-height: $line-height
  background: rgba(0,0,0,.07)
  @include text-shadow(rgba(255,255,255,.3) 1px 1px 0)

  p
    margin: 0

.column
  width: 330px
  float: left

  &:nth-child(2)
    margin-right: 40px

  article
    margin: 30px 0 0

    &:first-child
      margin-top: 0

#posts
  > h1
    margin-bottom: 10px
    @include hide

#posts,
#archives
  article
    margin-bottom: 30px

    &:last-child
      margin: 0

#post
  position: relative

  p.archives
    top: -80px
    right: 0
    position: absolute
    padding: 0
    text-align: left

p.archives
  text-align: right

  a
    display: inline-block
    padding: 2px 5px
    font-size: 14px
    font-weight: 600
    text-decoration: none
    letter-spacing: 0.02em
    color: #fff
    background: $contrast
    border: solid 1px rgba(0,0,0,.3)
    @include single-text-shadow(rgba(0,0,0,.5) 1px 1px 0)
    @include border-radius(3px)
    @include box-shadow(rgba(0,0,0,.3) 1px 1px 2px)

#archives
  overflow: hidden

  > h1
    margin-bottom: 30px

article
  em
    font-style: italic

  h1 a
    text-decoration: none

  &.excerpt
    h1
      margin-bottom: 3px

    time
      display: block
      margin-bottom: 5px
      font-style: italic
      color: #666

    p
      margin: 0

  &.article
    h1
      margin-bottom: 8px

    time
      display: block
      margin-bottom: 20px
      font-style: italic
      color: #666

    ul
      list-style: disc inside

#comments
  margin-top: 50px

#footer
  margin: 40px 0 20px
  padding-top: 5px
  color: #888
  border-top: solid 1px #999

  a
    color: #888

code
  font-family: Monaco, "Courier New", monospace
  font-size: 11.5px

// Syntax highlighting using CodeRay.
pre
  margin-bottom: 20px
  line-height: $line-height

  code
    display: block
    padding: 3px 5px
    color: #e6e0db
    background: #232323
    overflow: auto

  .an
    color: #e7be69
  .c
    color: #bc9358
  .ch
    color: #509e4f
  .cl
    color: #fff
  .co
    color: #fff
  .fl
    color: #a4c260
  .fu
    color: #ffc56d
  .gv
    color: #d0cffe
  .i
    color: #a4c260
  .il
    background: #151515
  .iv
    color: #d0cffe
  .pp
    color: #e7be69
  .r
    color: #cb7832
  .rx
    color: #a4c260
  .s
    color: #a4c260
  .sy
    color: #6c9cbd
  .ta
    color: #e7be69
  .pc
    color: #6c9cbd