---
created_at: 2009-09-15 00:00:00
excerpt: ""
kind: article
publish: true
tags: [misc]
title: "Vodafone Mobile Connect On Osx 10.6 (Snow Leopard) With An E3730 Data Card"
---

%p After trying numerous "solutions", I finally managed to get my Vodafone "express data card" (the E3730 by Option) to work on OSX 10.6 (Snow Leopard), together with Vodafone's "Mobile Connect" software.
%p I don't know if this works with all versions of Mobile Connect, but at least it did with this one: <a href="http://www.vodafone.nl/Vodafone/software/supportanddownload/VodafoneMCInstaller.2.11.04.00.dmg.zip" target="_blank">Vodafone Mobile Connect 2.11.04.00</a>. After installing the Mobile Connect software (if you don't have it yet), the trick is to "update" the drivers for the data card to the OSX 10.4 (Tiger) version. For this you need to <a href="/wp-content/uploads/option_e3730_snow_leopard.zip" target="_blank">download the Option drivers</a> (Option forgot to add some extensions, so this goes to the proper zip I made after fixing them).
%p Simply open the dmg, install the 10.4 drivers and you're done (or at least: I was).
%p PS: <em>NO</em> thanks to the Vodafone help desk, which doesn't know sh*t and has been keeping me and numerous others in the blind since Snow Leopard was released. Spend a few $ on the developer release next time guys!
