---
---
%article.excerpt
  %h1
    %a{:href => route_path(item)}= item[:title]

  = render('_meta', :item => item)

  - unless item[:excerpt].empty?
    %p
      = item[:excerpt]
      %a{:href => route_path(item)} read more
