---
created_at: 2011-10-19 23:30:00
timestamp: 1318349864
excerpt: "The Sass parent reference (&amp;) makes it even easier to use Modernizr for feature detection, saving you lots of time repeating yourself."
kind: article
publish: true
disqus: true
title: "Modernizr & the Sass parent reference"
---

%p This technique is very simple, but often overlooked because the <a href="http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#referencing_parent_selectors_">parent reference &amp;</a> is mostly used at the beginning of a selector, like:

%pre
  %code.language-sass
    :preserve
      a
        color: #000

        &:hover
          color: #f00

%p Since <code>&amp;</code> does nothing more than repeat the parent selector, it gives us an excellent way of easily implementing custom styling based on features detected by <a href="http://www.modernizr.com/">Modernizr</a>. Just have Modernizr add class names to your <code>&lt;html&gt;</code>-tag and for instance do the following to only apply the box-shadow if the browser supports it (the box-shadow mixin comes with Compass, the <code>.boxshadow</code> class name will be added to your HTML by Modernizr):

%pre
  %code.language-sass
    :preserve
      #about

        h1
          border: solid 1px #000

          .boxshadow &
            border: 0
            +box-shadow(5px 5px #000)

%p This outputs:

%pre
  %code.language-css
    :preserve
      #about h1 {
        border: solid 1px #000;
      }

      .boxshadow #about h1 {
        border: 0;
        box-shadow: 5px 5px #000;
      }

%p A use case would be a fairly large element with a box-shadow, which makes repainting the page on iOS extremely slow. When only using a box-shadow when there's a <code>.no-touch</code> class name, touch devices won't have to deal with expensive shadow calculations.
