---
created_at: 2011-10-09 16:23:33
timestamp: 1318170213
excerpt: "A few days ago I spoke at ArrrrCamp in Ghent, Belgium. If prior editions were of the same level of quality, I should have gone there before. Here's a short recap, plus my slides."
kind: article
publish: true
tags: [misc]
disqus: true
title: "My ArrrrCamp talk: Stop Swashbucklin' and Shipshape yer Front-end"
---

%p A few days ago I spoke at <a href="http://arrrrcamp.be/">ArrrrCamp</a> in Ghent, Belgium. I had heard of the conference before, but never went there during it's prior four years of existence. If those editions were of the same level of quality, I should have. Excellent talks, three tracks, mojito's (no, really) and a proper lunch.

%p With the introduction of the Rails 3.1 asset pipeline and Sass & CoffeeScript coming with Rails nowadays, this seemed like a good time to speak about the benefits of using front-end meta languages. I added Haml and Compass to the mix to cover the basics for doing all your markup, styling and behavioral coding using meta languages. Some key elements of the Rails 3.1 asset pipeline were discusses, with a strong focus on the new way of fingerprinting files, not using Sprockets for Sass and what actually happens when precompiling assets.

%p This appearance was my debut speaking at a "real" conference. I've done local user groups and meetups in the past (and got some planned for the near future), but hadn't been asked to speak at a conference with paying attendees before. This new experience can pretty much be summarized in one word: "awesome". The organizers took good care of all and I had a blast with both speakers and attendees, specially Jim Gay (lead developer Radiant CMS) and his wife Amy, Brian Quinn (CTO Spree Commerce) and Marius Marnes Mathiesen (Gitorious).

%p I'm the first to admit there's room for improvement when it comes to my speaking skills, but after all I'm pretty happy with how it went. Turn-up was fine (I guess half of the attendees attended my talk) and I received positive feedback afterwards. Timing was just right, with enough time for Q&A. While people didn't ask too many questions after some other sessions I attended, there were plenty at mine. Those also gave me a better understanding of the questions back-end developers have when it comes to front-end in general (not linked to front-end meta languages or Rails); food for some blog posts and a new talk I'm going to propose to other conferences (more on that in another post).

%p The <a href="http://speakerdeck.com/u/roy/p/front-end-meta-languages-and-the-rails-31-asset-pipeline">slides are up on Speaker Deck</a>, which looks a whole lot better than Slideshare, and embedded below.

<script src="http://speakerdeck.com/embed/4e8f2e597c8b25005400232d.js"></script>


