---
created_at: 2011-05-27 10:25:46
excerpt: ""
kind: article
publish: true
tags: [misc]
title: "Static site using nanoc"
---

%p This site now runs on <a href="http://nanoc.stoneship.org/">nanoc</a>, a static site generator running on Ruby. The old Wordpress install went out the window and I only migrated two posts; the ones that people are likely to land on via search engines. I chose a static site because that's what all the cool kids have. Besides that I was pretty much done with showing my latest tweet, etc. Just go to <a href="http://www.teitter.com/roy">Twitter</a> if you want to know. A static site also saves me from any possible security issues (it's all just HTML) and updates to Wordpress and its plugins.
