---
created_at: 2011-05-31 17:07:25
timestamp: 1306854446
excerpt: "Blue Bloods may be one of the best cop shows that has seen the light of day in the past decade. The pilot aired on CBS on September 24, 2010 and season 1 just ended a few weeks ago after 22 episodes. A few days later a second season was announced."
kind: article
publish: true
tags: [tv]
disqus: true
title: "TV review: Blue Bloods"
---

%p Blue Bloods may be one of the best cop shows that has seen the light of day in the past decade. The pilot aired on CBS on September 24, 2010 and season 1 just ended a few weeks ago after 22 episodes. A few days later a second season was announced.

%p This dramatic police procedural is about NYPD Police Commissioner Frank Reagan, his father (a former NYC Police Commissioner) and his children. Danny, a detective with the NYPD, Jamie, a rookie beat cop and Erin, an assistant district attorney in Manhattan. Frank's son Joe died in the line of fire while also working as a detective. Then there are the spouses and children.

%p Although the show has a few shortcomings (I'll get to that later) it shines in authenticity. It was filmed on location in New York, which beats a green screen any day. It also lacks unrealistic CSI style photo enhancements and DNA matching; the focus is on good old police work. The Irish style Sunday family dinner naturally slows down the pace and creates room for the characters to discuss moral issues, something I have seen happening too little in other shows. Tom Selleck single handedly takes the show to a higher level with his portrayal of an intelligent commissioner who has to constantly leverage between politics and police work. Donnie Wahlberg does a great job as the line bending detective, although his performance sometimes is a bit too much "bad cop".

%p It's too coincidental that — in a city of many thousand police officers — Jamie repeatedly runs into something on the street which is then investigated by brother Danny. Danny kicks it up to the commissioner, and before you know it Erin is prosecuting the case. The law-family thing is one of the cores around which the show revolves, so it makes sense from that perspective, but it still feels too "small town". Also, the recurring theme of the Blue Templar is played out as if the writers didn't know if they wanted to pursue it in a second season. The first 21 episodes it lingers in the background, while the season finale covers the other 90% of the story. A more evenly distributed storyline would have been better, but I'm guessing it wasn't sure there would be a second season at the time of writing.

%p All things considering I would still rank it 8 out of 10. Looking forward to the next season, which doesn't have a cliffhanger to build on. It will run in the fall/winter season, starting September 2011.